name: tests

on: [push, pull_request]

jobs:
  tox:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 5
      matrix:
        include:
          - python-version: 3.11
            os: ubuntu-latest
          - python-version: 3.12
            os: ubuntu-latest
          - python-version: 3.13
            os: ubuntu-latest
    steps:
    - name: Test envs
      run: |
        env
